<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TINI NK</title>
    <link type="text/css" rel="stylesheet" href="/assets/custom.css">
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></head>
    <script src="/assets/main.js"></script> -->
<body>
    <header>
        <nav>
            <div class="align-center space-between ml-50 mr-30">
                <a href="" class="nav-title nav-link">TINI NK</a>
                <div class="mr-25">
                    <!-- <button class="menu-btn float-right" id="burgerBtn">
                        <i class="fa fa-bars"></i>
                    </button> -->
                    <div id="menu">
                        <ul>
                            <li></li>
                            <li><a href="#" class="nav-link">Home</a></li>
                            <li><a href="#about" class="nav-link">About</a></li>
                            <li><a href="#services" class="nav-link">Service</a></li>
                            <li><a href="#contact" class="nav-link">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="header-cover position-relative top-50">
            <div class="top-150 position-relative ml-50 mr-50">
                <div class="position-relative text-align-right">
                    <h1 class="header-title">TINI NK</h1>
                    <p>I'm A Passionate Junior Back End Developer</p>
                </div>
            </div>
        </div>
        <div class="top-150 position-relative ml-50 mr-50" id="about">
        <h1 class="text-align-center">About Me</h1>
            <div class="space-between mt-30 main-bg">
                <img src="/assets/me.jpg" alt="" class="bio-img">
                <div class="ml-50">
                    <h3>About Me</h3>
                    <p>Hello, I am a Junior Back End Developer. I love playing with things those need logic to solve. I am a perfectionist, fast learner and I love learning any kind new things in order to improve my skills.</p>
                    <div class="p-20">
                        <table>
                            <tr>
                                <td>Name</td>
                                <td>:</td>
                                <td>Ni Komang Artini</td>
                            </tr>
                            <tr>
                                <td>Age</td>
                                <td>:</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>Adress</td>
                                <td>:</td>
                                <td>Br. Pasedana, Bona, Blahbatuh, Gianyar, Bali, 80581</td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td>:</td>
                                <td>(+62) 81 936 281 299</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>artinichan79@gmail.com</td>
                            </tr>
                        </table>
                    </div>
                    <div class="btn">
                        <button>Download CV</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-250 position-relative ml-50 mr-50" id="services">
            <h1 class="text-align-center">MY SERVICES</h1>
            <div class="justify-content-center mt-30">
                <div class="main-bg p-20 m-10 card text-align-center">
                    <h3>Back End Developer</h3>
                    <img src="/assets/backend.png" alt="" class="service-img">
                </div>
                <div class="main-bg p-20 m-10 card text-align-center">
                    <h3>Data Entry</h3>
                    <img src="/assets/folder.png" alt="" class="service-img">
                </div>
                <div class="main-bg p-20 m-10 card text-align-center">
                    <h3>English Translator</h3>
                    <img src="/assets/languages.png" alt="" class="service-img">
                </div>
                <div class="main-bg p-20 m-10 card text-align-center">
                    <h3>Google Cloud Engineer</h3>
                    <img src="/assets/cloud-service.png" alt="" class="service-img">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="top-350 position-relative footer-cover p-100" id="contact">
            <div class="text-align-center">
                <h1>Let's get in touch with me!</h1>
                <div class="mt-30 contact-btn">
                    <button>Contact Me</button>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>